@*@model IEnumerable<PhotoLibrary.Models.ViewModels.HomeAlbumViewModel>*@

@model IEnumerable<BLL.AlbumNotEmptyBs>
@{
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("Web Api Page", "PhotoList","Home",new { area = "" }, null)
<h2>All Albums</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Description)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NPhotos)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(mi => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(mi => item.Description)
            </td>
            <td>
                @Html.DisplayFor(mi => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(mi => item.NPhotos)
            </td>
            <td>
                @Html.ActionLink("Open", "Album", new { AlbumID = item.AlbumID })
            </td>
        </tr>
    }
</table>